{% extends 'base/base_login.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}


<div class="container">
    <p>Please specify your email address to receive instructions for resetting it.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.email.errors }}
            <label for="id_email">E-mail address:</label>
            {{ form.email }}
            <input class="btn btn-success" type="submit" value="Reset password"/>
    </form>
</div>
{% endblock %}