{% extends '/base/base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static '/custom-css/signin.css' %} " type="text/css">

<div class="container">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <!-- form start -->
        <form class="form-signin" role="form" action="{% url 'accounts:change_password' %}" method="POST">
            {% csrf_token %}
            <h2>Change Password</h2>
            {% for item in form %}
                <label >{{item.label}}</label>
                {{item}}
                <div>
                    {{item.errors}}
                </div>
            {% endfor %}
            <div class="browse-horizontal-cent form-group" style="padding: 2px; margin-top: 0">
                <div class="left">
                    <a class="btn btn-success" href="{% url 'annotation_review:index' %}"
                       role="button" style="width: 120px">Cancel</a>
                </div>
                <div class="right">
                    <input type="submit" class="btn btn-success" style="width: 120px" value="Update">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>
{% endblock %}