<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li class="start active ">

					<a href="{% url 'management:index'%}">

					<i class="icon-home"></i>

					<span class="title" >Dashboard</span>

					<span class="selected"></span>

					</a>

				</li>

					<li>

					<a class="active" href="{% url 'management:new_project'%}">

					<i class="icon-sitemap"></i>

					<span class="title">Create new project</span>

					<span class="arrow "></span>

					</a>

				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-cogs"></i>

					<span class="title" >Project Overview</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="{% url 'management:project_overview'%}">

							{{project_name}}</a>

						</li>
					</ul>
				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-bookmark-empty"></i>

					<span class="title">Config management</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="ui_general.html">

							Project1_config</a>

						</li>

						<li >

							<a href="ui_buttons.html">

							Project2_config</a>

						</li>

						<li >

							<a href="ui_modals.html">

							Project3_config</a>

						</li>

						<li >

							<a href="ui_tabs_accordions.html">

							Project4_config</a>

						</li>

						<li >

							<a href="ui_jqueryui.html">

							Project5_config</a>

						</li>

					</ul>

				</li>

				<li class="">
					<a href="javascript:;">
					<i class="icon-table"></i>
					<span class="title">Running test cases</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li >
							<a href="form_layout.html">Tuner</a>
						</li>
						<li >
							<a href="form_samples.html">Navi</a>
						</li>
						<li >
							<a href="form_wizard.html">
							Media</a>
						</li>
						<li >
							<a href="form_validation.html">
							Phone</a>
						</li>
						<li >
							<a href="form_fileupload.html">Message</a>
						</li>
						<li >
							<a href="form_dropzone.html">Wheather</a>
						</li>
					</ul>
				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-th"></i>

					<span class="title">Testsuit Overview</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="page_timeline.html">

							<i class="icon-time"></i>

							Testsuit_1</a>

						</li>

						<li >

							<a href="page_coming_soon.html">

							<i class="icon-cogs"></i>

							Testsuit_2</a>

						</li>

						<li >

							<a href="page_blog.html">

							<i class="icon-comments"></i>

							Testsuit_3</a>

						</li>

						<li >

							<a href="page_blog_item.html">

							<i class="icon-font"></i>

							Testsuit_4</a>

						</li>
						<li >
							<a href="page_news.html">
							<i class="icon-coffee"></i>
							Testsuit_5</a>
						</li>
					</ul>

				</li>


				<li class="">

					<a href="javascript:;">

					<i class="icon-gift"></i>

					<span class="title">Domain</span>

					<span class="arrow "></span>

					</a>
				</li>

				<li>

					<a class="active" href="javascript:;">

					<i class="icon-sitemap"></i>

					<span class="title">Intent</span>

					<span class="arrow "></span>

					</a>

				</li>

				<li>

					<a href="javascript:;">

					<i class="icon-folder-open"></i>

					<span class="title">Utterance</span>

					<span class="arrow "></span>

					</a>

				</li>

			</ul>

			<!-- END SIDEBAR MENU -->

		</div>