<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->

						{% include 'base/theme.html' %}

						<!-- END BEGIN STYLE CUSTOMIZER -->

						<h3 class="page-title">

							ProjectAndTestsuit Overview

							 <small></small>

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="{% url 'management:index'%}">Home</a>

								<span class="icon-angle-right"></span>

							</li>

							<li>

								<a href="#">Overview</a>

								<span class="icon-angle-right"></span>

							</li>

							<li><a href="#">See More</a></li>

						</ul>

					</div>

				</div>

				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTANER-->

            <div class="row-fluid">

					<div class="span6">

						<div class="portlet box grey">

							<div class="portlet-title">

								<div class="caption"><i class="icon-comments"></i>Project Overview</div>


							</div>

							<div class="portlet-body fuelux">

								<ul class="tree" id="tree_1">

									<li>

										<a href="#" data-role="branch" class="tree-toggle" data-toggle="branch" data-value="Bootstrap_Tree">

										Project

										</a>

										<ul class="branch in">
                                           {% for obj in project_list_all %}
						                     <li >

							                        <a href="{% url 'management:project_overview_detail' obj.id%}">
														<i class="icon-plane"></i>

							                     {{ obj.project_name }}</a>

                                             </li>
						                   {% endfor %}

										</ul>

									</li>

								</ul>

							</div>

						</div>

					</div>

					<div class="span6">

						<div class="portlet box grey">

							<div class="portlet-title">

								<div class="caption"><i class="icon-comments"></i>Testsuit Overview</div>

							</div>

							<div class="portlet-body fuelux">

								<ul class="tree" id="tree_2">

									<li>

										<a href="#" data-role="branch" class="tree-toggle" data-toggle="branch" data-value="Bootstrap_Tree">Testsuit

										</a>

										<ul class="branch in">

											{% for obj in testsuit_list_all %}
						                     <li >

							                        <a href="{% url 'management:testsuit_overview_detail' obj.id%}">
														<i class="icon-suitcase"></i>

							                     {{ obj.testsuit_name }}</a>

                                             </li>
						                   {% endfor %}

										</ul>

									</li>

								</ul>

							</div>

						</div>

					</div>

				</div>

				<!-- END PAGE CONTENT-->

			</div>

	    <!-- END PAGE CONTAINER-->

        </div>
 </div>