<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->

						{% include 'base/theme.html' %}

						<!-- END BEGIN STYLE CUSTOMIZER -->

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							Project <small></small>

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="{% url 'management:index'%}">Home</a>

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">Project</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a id="project_name_a" href="#">{{project_name}}</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<div id="dashboard">

					<!-- BEGIN DASHBOARD STATS -->

					<div class="row-fluid">

						<div class="span3 responsive" data-tablet="span6" data-desktop="span3">

							<div class="dashboard-stat blue">

								<div class="visual">

									<i class="icon-leaf"></i>

								</div>

								<div class="details">

									<div class="number">

										{{domain_list_count}}

									</div>

									<div class="desc">

										Domain

									</div>

								</div>

								<a class="more" href="#">

								<i class="m-icon-swapright m-icon-white"></i>

								</a>

							</div>

						</div>

						<div class="span3 responsive" data-tablet="span6" data-desktop="span3">

							<div class="dashboard-stat green">

								<div class="visual">

									<i class="icon-magnet"></i>

								</div>

								<div class="details">

									<div class="number">{{utterance_list_count}}</div>

									<div class="desc">Utterance</div>

								</div>

								<a class="more" href="#">

								 <i class="m-icon-swapright m-icon-white"></i>

								</a>

							</div>

						</div>

						<div class="span3 responsive" data-tablet="span6" data-desktop="span3">

							<div class="dashboard-stat purple">

								<div class="visual">

									<i class="icon-tasks"></i>

								</div>

								<div class="details">

									<div class="number">{{intent_list_count}}</div>

									<div class="desc">Intent</div>

								</div>

								<a class="more" href="#">

								 <i class="m-icon-swapright m-icon-white"></i>

								</a>

							</div>

						</div>

						<div class="span3 responsive" data-tablet="span6" data-desktop="span3">

							<div class="dashboard-stat yellow">

								<div class="visual">

									<i class="icon-pencil"></i>

								</div>

								<div class="details">

									<div class="number">{{slot_list_count}}</div>

									<div class="desc">Slot</div>

								</div>

								<a class="more" href="#">

								 <i class="m-icon-swapright m-icon-white"></i>

								</a>

							</div>

						</div>

					</div>

					<!-- END DASHBOARD STATS -->
				</div>

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">


					<div class="span9">

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box blue">
							<div class="portlet-title">

								<div class="caption"><i class="icon-edit"></i>{{project_name}}</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

								</div>

							</div>

							<div class="portlet-body">

								{%if user.email%}
								 <div class="btn-group">

										<button  id="add_button" class="btn green">

										Add New <i class="icon-add"></i>

										</button>

									</div>
								{%endif%}
								 <table class="table table-condensed" style="word-break:break-all; word-wrap:break-all" id="table" data-show-toggle="false" data-locale="en-US" data-minimum-count-columns="2"
									data-id-field="id" data-show-footer="false" data-side-pagination="client" data-response-handler="responseHandler" data-row-style="rowStyle"
									data-detail-view="false" data-detail-formatter="detailFormatter" data-toolbar="#toolbar">
                       			 </table>

								{%if user.email%}
								<div class="clearfix">

								<div class="control-group">
										<div class="controls">
											<form class="form-control" enctype="multipart/form-data">
												{% csrf_token %}
											<div class="fileupload fileupload-new" data-provides="fileupload">

												<div class="input-append">

													<div class="uneditable-input">

														<i class="icon-file fileupload-exists"></i>

														<span class="fileupload-preview"></span>

													</div>

													<span class="btn btn-file btn green">

													<span class="fileupload-new">Select file</span>

													<span class="fileupload-exists">Change</span>

													<input type="file"  name="file" id="file" />

													</span>
													<a href="#" class="btn blue fileupload-exists" data-dismiss="fileupload">Remove</a>													.
												</div>
												<div>Please upload your hrl and audio file, the format is ".zip" or ".rar".</div>
												<div id="progress_mask" class ="flyover" ng-show="loading" width="300px">
										    <div class ="mask"></div>
										    <div class ="alert alert-info">
										        <strong>Loading</strong>
										        <img ngs-butterbar src="/static/media/image/loading.gif">
										    </div>
											</div>
											</div>
											</form>
											<div class="btn-group">

													<button  id="upload" class="btn green">

													Upload <i class="icon-upload"></i>

													</button>

												</div>
											<div class="btn-group">

												<button  class="btn green" id="add_testsuit_random">

												Add Random testsuit <i class="icon-plus"></i>

												</button>

											</div>
											<div class="btn-group">

												<button  id="save" class="btn green">

												Save <i class="icon-plus"></i>

												</button>

											</div>
											<div id="testsuit"  class ="flyovertestsuit" tabindex="-1" role="dialog">
													<div class ="mask"></div>
														<div class="alert">
															<form class="form-horizontal" style="width:500px" id="continue_review_form"
																  role="form" action="{% url 'management:new_testsuit' %}" method="POST">
																{% csrf_token %}
																	<div class="control-group">
																		<div><label class="control-label"><strong>New testsuit:</strong></label></div>
																		<input id="testsuit_name" name="testsuit_name" type="text" placeholder="input testsuit name">
																	</div>
																	<div class="control-group">
																		<div><label class="control-label"><strong>Select exist testsuit:</strong></label></div>
																		<select data-placeholder="" style="width:300px" id="testsuit_select" class="chosen span12" tabindex="6">
																			<option></option>
																			{%for obj in testsuit_list_all%}
																			<option value="{{obj.id}}">{{obj.testsuit_name}}</option>
																			{%endfor%}
																		</select>
																	</div>
																	<div class="modal-footer">
																		<div class="">
																			<input id="ids" name="testcase_id_list" type="hidden">
																			<input id="project_name" name="project_name" type="hidden">
																			<input id="exist_testsuit_name" name="exist_testsuit_name" type="hidden">
																			<button type="submit" id="ok" class="btn blue"><i class="icon-ok"></i> OK</button>
																			<button type="button" id="cancle" class="btn">Cancel</button>
																		</div>
																    </div>
															</form>
														</div>
												</div>

										</div>

								</div>

								</div>
								{%endif%}
							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET-->

					</div>
					<div class="span3">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption"><i class="icon-edit"></i>Filter</div>
							</div>
							<div class="portlet-body">
								 <div class="control-group">
									<label class="control-label">Domain</label>
									<div class="controls">
										<select data-placeholder="Domain" onchange="addItems()" id="domain_selecter" class="chosen span12" multiple="multiple" tabindex="6" data-ajax--cache="true">
											{%for obj in domain_list%}
											<option value="{{obj.id}}">{{obj.domain_name}}</option>
											{%endfor%}
										</select>
									</div>
								</div>
								 <div class="control-group">
									<label class="control-label">Intent</label>
									<div class="controls">
										<select data-placeholder="Intent" onchange="addIntent()" id="intent_selecter" class="chosen span12" multiple="multiple" tabindex="6" data-ajax--cache="true">

										</select>
									</div>
								</div>
								 <div class="control-group">
									<label style="width:75%" for="start_date_selecter">Create Date<br>
										<input type="date" class="form-control" id="start_date_selecter">
									</label>
								</div>
								<div class="control-group">
									<label style="width:75%" for="end_date_selecter">Modify Date<br>
										<input type="date" class="form-control" id="end_date_selecter">
									</label>
								</div>
								<div class="control-group">
									<button class="btn green" id="search_button">Search</button>
								</div>
							</div>
						</div>
					</div>
						<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>

				<!-- END PAGE CONTENT -->



			<!-- END PAGE CONTAINER-->

</div>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

<script src="/static/media/js/jquery-1.10.1.min.js"></script>
<script src="/static/media/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-table/bootstrap-editable.js"></script>
<script src="/static/bootstrap-table/bootstrap-table.js"></script>
<script src="/static/bootstrap-table/extensions/bootstrap-table-editable.js"></script>

<script>
    jQuery(document).ready(function () {
    	$("#progress_mask").hide();
    	$("#testsuit").hide();
        initTable();
    });

    var $table = $('#table'),
        <!--selections = [];-->

    <!--var $project_name_a = $("#project_name_a").innerText-->

    $button = $('#add_button');
    $search_button=$('#search_button');
    <!--$progress_bar=$('#progress_mask');-->
	$uploadfile = $("#file");

    $(function () {
         $button.click(function () {
             $table.bootstrapTable('insertRow', {
                 index: 0,
                 row: {
                     utterance: '',
                     audio: '',
                     domain: '',
                     intent:'',
                     slotnames: '',
                     slotvalues: '',
                 }
             });
         });
     });

    function initTable() {

        $table.bootstrapTable({
			method: 'get',
			url:"/management/project_overview_detail_table/",

			queryParams: function (params) {
				var $domain_selects = $("#domain_selecter")[0]
				var $domain_id_list = ""
				for (var i=0;i< $domain_selects.length;i++){
					if($domain_selects[i].selected){
						$domain_id_list += $domain_selects[i].value + ","
					}
				}

				var $intent_selects = $("#intent_selecter")[0]
				var $intent_id_list = ""
				for (var i=0;i< $intent_selects.length;i++){
					if($intent_selects[i].selected){
						$intent_id_list += $intent_selects[i].value + ","
					}
				}

				return {
				   project_name: project_name_a.innerText,
				   domain_list: $domain_id_list,
				   intent_list: $intent_id_list
				};
			},
			dataType : 'JSON',
            height: getHeight(),
            pagination: true,
			pageNumber: 1,
			pageSize: 25,
			pageList: [10, 25, 50, 100],
			search: true,
			sortable: true,
            sortOrder: "asc",
            columns:
                [	{
						checkbox: true,
						visible: true,
						formatter : stateFormatter
               		 },
                	{
                        title: 'id',
                        field: 'id',
                        align: 'center',
                        valign: 'middle',
                        sortable: false,
                        width: '15%',
                        visible:false
               		},
                    {
                        title: 'utterance',
                        field: 'utterance',
                        align: 'center',
                        valign: 'middle',
                        sortable: false,
                        width: '15%',
                        editable: {
							type: 'text',
							title: 'Utterance',
							validate: function (v) {
								if (!v) return 'Utterance can\'t be empty';
							}
						}
                    },
                    {
                        title: 'audio',
                        field: 'audio',
                        align: 'center',
                        valign: 'middle',
                        sortable: false,
                        width: '20%',
                        editable: {
							type: 'text',
							title: 'Audio',
							validate: function (v) {
								if (!v) return 'Audio can\'t be empty';
							}
						}
                    },
                    {
                        title: 'domain',
                        field: 'domain',
                        align: 'center',
                        valign: 'middle',
                        sortable: false,
                        width: '10%',
                         editable: {
							type: 'text',
							title: 'Domain',
							validate: function (v) {
								if (!v) return 'Domain can\'t be empty';
							}
						}
                    },
                    {
                        title: 'intent',
                        field: 'intent',
                        align: 'center',
                        valign: 'middle',
                        sortable: false,
                        width: '10%',
                        editable: {
							type: 'text',
							title: 'Intent',
						}
                    },
                    {
                        title: 'slotnames',
                        field: 'slotnames',
                        align: 'center',
                        valign: 'middle',
                        sortable: false,
                        width: '30%',
                        editable: {
							type: 'text',
							title: 'Slotnames',
						}
                    },
                    {
                        title: 'slotvalues',
                        field: 'slotvalues',
                        align: 'center',
                        valign: 'middle',
                        sortable: false,
                        width: '30%',
                        editable: {
							type: 'text',
							title: 'Slotvalues',
						}
                    }
                ],
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "post",
                    url: "/Editable/Edit",
                    data: row,
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
                            alert('提交数据成功');
                        }
                    },
                    error: function () {
                        alert('编辑失败');
                    },
                    complete: function () {

                    }

                });
            }

        });
        // sometimes footer render error.
        setTimeout(function () {
            $table.bootstrapTable('resetView');
        }, 200);
        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    }
	function stateFormatter(value, row, index) {
    	if (row.state == true)
        	return {
            	checked : true//设置选中
        	};
    	return value;
    }
    function responseHandler(res) {
        return res;
    }

    function getHeight() {
        return $(window).height() - 200;
    }

    function totalTextFormatter(data) {
        return 'Total';
    }

    function totalNameFormatter(data) {
        return data.length;
    }

    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];
        if (index % 2 === 0) {
            return {
                classes: classes[index % 2]
            };
        }
        return {};
    }

    function cellStyle(value, row, index, field) {
        return {
            css: {
                "word-break": "break-all",
                "word-wrap": "break-all",
                "font-size": "10px"
            }
        };
    }

    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p>' + value + '</p>');
        });
        return html.join('');
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row));
        }
    };

    function operateFormatter(value, row, index) {
        var work_set_id = row.work_set_id;
        return [
            '<a class="btn btn-success ',
            '"href="/annotation_review/show_detail_report/',
            work_set_id,
            '/">Detail',
            '</a>'
        ].join('');
    }


	function addItems() {
		<!--alert('bcd');-->
		var $domain_selects = $("#domain_selecter")[0]
		var $domain_id_list = ""
		for (var i=0;i< $domain_selects.length;i++){
			if($domain_selects[i].selected){
				$domain_id_list += $domain_selects[i].value + ","
			}
		}
		$.ajax({
			url: "/management/get_all_intent/",
			type: "get",
			dataType: "json",
			contentType: "application/json",
			traditional: true,
			data: {
			 project_name: project_name_a.innerText,
			 domain_id: $domain_id_list
			},
			success: function (data) {
				var optionstring = "";
				var listring="";
				$('#intent_selecter').html("")
				$("#intent_selecter").trigger("liszt:updated");
				for (var i in data) {
					var jsonObj =data[i];
					$('#intent_selecter').multiSelect('addOption', { value:jsonObj.id, text:jsonObj.intent_name});
					$("#intent_selecter").trigger("liszt:updated");
				}
			},
			error: function (msg) {
				alert("出错了！");
			}
		});
		$table.bootstrapTable('refresh');
	};

	function addIntent() {
		$table.bootstrapTable('refresh');
	}

	 $search_button.click(function () {
		  $table.bootstrapTable('refresh');
	 });



	$("#upload").click(function () {
		$("#progress_mask").show();
		var fileObj =$("#file")[0].files[0];
		var formData = new FormData();
		formData.append('file', fileObj);
		formData.append('project_name', project_name_a.innerText);
		$.ajax({
		url: "/management/upload_hrl/",
		type: "post",
		contentType: false,
		processData: false,
		cache: false,
		data:formData,
		timeout: 300000000,
		success: function (data) {
			$("#progress_mask").hide();
			alert("Done success！");
			window.location.reload();
		},
		error: function (msg) {
			$("#progress_mask").hide();
			alert("upload file error,please upload correct zip file！");
			window.location.reload();
		}
	 	})
	});

	$("#save").click(function(){
		$("#testsuit").show();
	});


	$("#ok").click(function () {
		var $getSelectRows = $table.bootstrapTable('getSelections')
		var $project_id_list = ""
		for (var i=0;i< $getSelectRows.length;i++){
			if($getSelectRows[i]){
				$project_id_list += $getSelectRows[i].id + ",";
			}
		};
		$("#ids")[0].value = $project_id_list
		$("#project_name")[0].value = project_name_a.innerText
		$("#exist_testsuit_name")[0].value = $('#testsuit_select option:selected').text();
		$("#testsuit").hide();
	});

	$("#cancle").click(function () {
		$("#testsuit").hide();
	});
	$('#add_testsuit').click(function () {
		add_testSuit(0)
    });

    $('#add_testsuit_random').click(function () {
	    // table = $('#table').bootstrapTable('getSelections')
		add_testSuit(1)
    });

    function add_testSuit(random) {
		var $domain_selects = $("#domain_selecter")[0]
		var $domain_id_list = ""

		for (var i=0;i< $domain_selects.length;i++){
			if($domain_selects[i].selected){
				$domain_id_list += $domain_selects[i].value + ","
			}
		}
		var $intent_selects = $("#intent_selecter")[0]
		var $intent_id_list = ""
		for (var i=0;i< $intent_selects.length;i++){
			if($intent_selects[i].selected){
				$intent_id_list += $intent_selects[i].value + ","
			}
		}
		$.ajax({
			url: "/management/add_testsuit/",
			type: "get",
			dataType: "json",
			contentType: "application/json",
			traditional: true,
			data: {
			    project_name: project_name_a.innerText,
				domain_list:$domain_id_list,
				intent_list:$intent_id_list,
				random:random
			},
			success: function (data) {
				$table.bootstrapTable('load',data);
			},
			error: function (msg) {
				alert("出错了！");
			}
		})
    };
</script>